{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}
{% block breadcrumb %}Liste des users{% endblock %}

{% block body %}
    {# Partie des stats #}
    {% include "partials/_dashboard.html.twig" with {'stats': stats} %}

    <div class="container-fluid py-4">
        <a class="btn btn-sm btn-success mt-4" href="{{ path('app_register') }}">Ajouter un nouvel utilisateur</a>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header">
                        <h5 class="mb-0">Liste des utilisateurs</h5>
                        <p class="text-sm mb-0">
                            Liste des décisions ministérielles d'invalidité signées.
                        </p>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-flush" id="datatable-search">
                            <thead class="thead-light bg-gradient-dark">
                            <tr>
                                <th class="text-white">N°</th>
                                <th class="text-white">Nom complet</th>
                                <th class="text-white">Structure</th>
                                <th class="text-white">DM créés</th>
                                <th class="text-white text-center">Téléphone</th>
                                <th class="text-white text-center">Login</th>
                                <th class="text-white text-center">Dernière connexion</th>
                                <th class="text-white text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set i = 1 %}
                            {% for utilisateur in utilisateurs %}
                                <tr>
                                    <td class="text-sm font-weight-normal">{{ i }}</td>
                                    <td class="text-sm font-weight-normal text-start">{{ utilisateur.fullname }}</td>
                                    <td class="text-sm font-weight-normal ps-5">{{ utilisateur.service }}</td>
                                    <td class="text-sm font-weight-normal ps-5">{{ utilisateur.decisions.count }}</td>
                                    <td class="text-sm font-weight-normal text-center">{{ utilisateur.telephone }}</td>
                                    <td class="text-sm font-weight-normal text-center">{{ utilisateur.username }}</td>
                                    <td class="text-sm font-weight-normal text-center">
                                        {{ utilisateur.dateDernierConnexion | format_datetime('full', 'none', locale='fr') }}
                                    </td>
                                    <td class="text-sm font-weight-normal text-center">
                                        {% set id = utilisateur.id %}
                                        {% set nom = utilisateur.fullname %}
                                        {% set login = utilisateur.username %}
                                        <a href="{{ path('user_edit', {'id': id}) }}" class="me-2 text-info"
                                           title="Modifier les informations de {{ login }}">
                                            <span class="material-symbols-outlined">preview</span>
                                        </a>
                                        <a href="{{ path('user_resetpassword', {'id': id}) }}" class="me-2 text-warning"
                                           title="Réinitialiser le mot de passe de {{ login }}" data-bs-toggle="modal" data-bs-target="#modal1">
                                            <span class="material-symbols-outlined">draw</span>
                                        </a>
                                        <div class="modal fade text-start" id="modal1" data-bs-backdrop="static">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{{ "Réinitialisation du mot de passe !" }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Voulez-vous réellement réinitialiser le mot de passe de {{ login }}<br/>
                                                            ({{ nom }})
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-danger" href="{{ path('user_resetpassword', {'id': id}) }}">
                                                            {{ "Oui, réinitialiser" }}
                                                        </a>
                                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">{{ "Non, Annuler" }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{{ path('user_delete', {'id': id}) }}" class="me-2 text-danger" data-bs-toggle="modal" data-bs-target="#modal2"
                                           title="Supprimer le compte de {{ login }}">
                                            <span class="material-symbols-outlined">delete_forever</span>
                                        </a>
                                        <div class="modal fade text-start" id="modal2" data-bs-backdrop="static">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{{ "Suppression d'un compte !" }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Voulez-vous réellement supprimer le compte de {{ login }}<br/>
                                                            ({{ nom }})
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn btn-danger" href="{{ path('user_resetpassword', {'id': id}) }}">
                                                            {{ "Oui, réinitialiser" }}
                                                        </a>
                                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">{{ "Non, Annuler" }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% else %}
                                <tr>
                                    <td colspan="8">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <!--   Core JS Files   -->
    <script src="{{ asset('asset/js/plugins/datatables.js') }}"></script>
    <script>
        const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
            searchable: true,
            fixedHeight: true
        });
    </script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
{% endblock %}