<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('asset/img/logos/logo_minfi.jpg') }}">
    <link rel="icon" type="image/png" href="{{ asset('asset/img/logos/logo_minfi.jpg') }}">
    <title>
        CODEMI - Inscription
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/css.css') }}" />
    <!-- Nucleo Icons -->
    <link href="{{ asset('asset/css/nucleo-icons.css') }}" rel="stylesheet" />
    <link href="{{ asset('asset/css/nucleo-svg.css') }}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="{{ asset('asset/js/42d5adcbca.js') }}" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="{{ asset('asset/css/icon.css') }}" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="{{ asset('asset/css/material-dashboard.css') }}" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="{{ asset('asset/js/nepcha-analytics.js') }}"></script>
</head>