{% extends 'base.html.twig' %}

{% block title %}Pages index{% endblock %}

{% block body %}
    <h1>Pages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroPage</th>
                <th>NbreAgentsInvalidesPage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.numeroPage }}</td>
                <td>{{ page.nbreAgentsInvalidesPage }}</td>
                <td>
                    <a href="{{ path('app_pages_show', {'id': page.id}) }}">show</a>
                    <a href="{{ path('app_pages_edit', {'id': page.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pages_new') }}">Create new</a>
{% endblock %}
