{% extends 'base.html.twig' %}

{% block title %}Decisions{% endblock %}

{% block body %}
    <h1>Decisions</h1>

    <table class="table">
        <tbody>
            {% set ministere = decision.ministere %}
            {% set year = decision.dateSignature | date('Y') %}
            <tr>
                <th>Id</th>
                <td>{{ decision.id }}</td>
            </tr>
            <tr>
                <th>NumeroDecision</th>
                <td>{{ decision.numeroDecision }}</td>
            </tr>
            <tr>
                <th>Copie</th>
                <td>
                    <a title="copie numérique de la decision {{ decision.numeroDecision }}"
                       href="{% if decision.copie != "" %}
                                                {{ asset("asset/copies/" ~ ministere ~ "/" ~ year ~ "/" ~ "/" ~ decision.copie ) }}
                                                {% else %}
                                                    {{ path('app_decisions_show', {'id': decision.id}) }}
                                                {% endif %}">
                        <img src="{{ asset("asset/img/logos/pdf_file_icon.png") }}" alt="{{ decision.copie }}" width="17px">
                    </a>
                </td>
            </tr>
            <tr>
                <th>Signataire</th>
                <td>{{ decision.signataire }}</td>
            </tr>
            <tr>
                <th>Ministere</th>
                <td>{{ decision.ministere }}</td>
            </tr>
            <tr>
                <th>NbrePages</th>
                <td>{{ decision.nbrePages }}</td>
            </tr>
            <tr>
                <th>NbreAgentsInvalidesDecision</th>
                <td>{{ decision.nbreAgentsInvalidesDecision }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_decisions_index') }}">back to list</a>

    <a href="{{ path('app_decisions_edit', {'id': decision.id}) }}">edit</a>

    {{ include('decisions/_delete_form.html.twig') }}
{% endblock %}
